In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\santr\Downloads\india-news-headlines.csv")

In [3]:
df.head()

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic

In [4]:
df.tail()

,publish_date,headline_category,headline_text
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [5]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
3650965    False
3650966    False
3650967    False
3650968    False
3650969    False
Length: 3650970, dtype: bool

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.duplicated().sum()

0

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
# tfidf calculation
text_content = df['headline_text']
vector = TfidfVectorizer(max_df=0.3,         # drop words that occur in more than X percent of documents
                             #min_df=8,      # only use words that appear at least X times
                             stop_words='english', # remove stop words
                             lowercase=True, # Convert everything to lower case 
                             use_idf=True,   # Use idf
                             norm=u'l2',     # Normalization
                             smooth_idf=True # Prevents divide-by-zero errors
                            )
tfidf = vector.fit_transform(text_content) #matrix

In [10]:
df=pd.DataFrame(tfidf[0].T.todense(), index=vector.get_feature_names(),columns=["TF-IDF"])
df = df.sort_values('TF-IDF', ascending=False)

C:\Users\santr\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [11]:
df

             TF-IDF
disturbed  0.506482
quo        0.473163
vajpayee   0.415386
ayodhya    0.395103
status     0.362839
...             ...
foretells  0.000000
foretold   0.000000
forev      0.000000
foreve     0.000000
zzzz       0.000000

[219230 rows x 1 columns]

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

# Cosine Similarity: Calculate the cosine similarity between the user query and each headline
def get_similarity(query):
    query_vec = vector.transform([query])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    return similarity

# Get user query
query = input("Enter your query: ")

# Ranking: Rank the news headlines based on their cosine similarity scores to the user query
s = get_similarity(query)
ranking = s.argsort()[:-5:-1]

# Return: Return the top 10 most relevant news headlines
for i in ranking:
    print(text_content[i])

Enter your query: Extra buses to clear tourist traffic
Extra buses to clear tourist traffic
Jwala wins twin titles in Bulgarian Grand Prix
Bihar attracted little investment proposals: Report
Hardik Patel resumes fast at home